@charset "utf-8";
/* CSS Document */


@font-face {
    font-family: 'postfaceregular';
    src: url('../fonts/postface-webfont.woff2') format('woff2'),
         url('../fonts/postface-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.padding_left0{
	padding-left:0 !important;
}
.padding_right0{
	padding-right:0 !important;
}
.padding_no{
	padding:0 !important;
}

.margin_left0{
	margin-left:0 !important;
}
.margin_right0{
	margin-right:0 !important;
}
.margin_no{
	margin:0 !important;
}
.caro-slider{
    margin-bottom: 40px;
}

/* top header */
.top_header{
	width:100%;
	float:left;
	background:#000;
	min-height:30px;
}

.top_header_links{
	width:auto;
	float:left;
	padding:7px 15px;
	color:#fff;
	font-size:12px;
	font-family:Arial;
}

.top_header_links div{
	display:inline-block;
}
.top_header_links div:last-child{
	margin-left:30px;
}
.top_header_links div a, .top_header_links div a:hover{
	color:#fff;
	text-decoration:none;
}
/* end top header */

/* banner section */
.main_banner{
	width:100%;
	float:left;
	background:#fff;
	padding:25px 0 0;
}

.logo{
	width:100%;
	text-align:center;
}
.logo_tagline{
	font-size:22px;
	color:#2c2c2c;
	font-family:'Raleway';
	font-weight:300;
	border-bottom: 1px solid #ccc;
	width: 50%;
	margin: 15px auto 0;
	padding-bottom: 5px;
}
/* end banner section*/

/* banner slider */
.main_body_page {
    width: 100%;
    display: block;
    position: absolute;
    top: 5.5%;
}
.phone_previews {
    overflow: hidden;
	padding-top: 32px;
	height: 445px;
}
.main_banner .center_phone {
    background: rgba(0, 0, 0, 0) url("../images/center_phone.png") no-repeat scroll center top;
    height: 422px;
    left: 50%;
    margin: 0 auto 0 -365px;
    padding-top: 60px;
    position: relative;
    width: 730px;
}

.main_banner .phoneOverlay {
    background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    display: none;
    height: 95%;
    left: 0;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 9999;
}

.phoneOverlay .clicktoClose {
    margin: 0 auto;
    position: relative;
    bottom: 45px;
    font: 11px "Montserrat", sans-serif;
    text-align: center;
    width: 200px;
    margin-left: -100px;
    left: 50%;
    position: absolute;
    color: #212930;
    text-transform: uppercase;
    cursor: pointer;
}

.phoneOverlay div {
    width: 280px;
    margin: 20px auto;
    text-align: center;
}

.phoneOverlay div h4 {
    font: 20px "Open Sans",sans-serif;
	margin-bottom: 0;
	text-transform: capitalize;
	color: #db6200;
	font-weight: 400;
	margin-top:150px;
}

.phoneOverlay div p {
    color: #174f7d;
	font: 14px "Open Sans";
}

.phoneOverlay > div >div:last-child{
	display:none;
}

.main_banner .owl-wrapper-outer {
    overflow: visible !important;
}

.main_banner .owl-item div {
    text-align: center;
}
.main_banner .end_slider {
    text-indent: -9999px;
}
.main_banner .owl-item.active {
    opacity: 1;
    position: relative;
    transition: all 0.45s ease-in-out 0s;
    z-index: 50;
}
.main_banner .owl-item {
    padding: 0;
	opacity:0;
}
.main_banner .owl-item.active div img {
    margin-top: 0;
    width: 159px;
	max-height: 280px;
	min-height: 280px;
	height: initial;
}
.main_banner .owl-item.active .bullet, .main_banner .owl-item.active h2 {
    opacity: 1;
    transform: scale(1);
    transition: all 1s ease-in-out 0.4s;
}
.main_banner .owl-item h2 {
    color: #0e0f10;
    display: inline-block;
    font-family: "Montserrat",sans-serif;
    font-size: 15px;
    font-weight: 200;
    height: 30px;
    /*left: 50%;
    margin-left: -135px;*/
	left: 43%;
	margin-left: 0;
    margin-top: 0;
    position: absolute;
    text-transform: uppercase;
    top: -95px;
}

.left.close {
    margin-left: -85px;
}
.main_banner .owl-item .bullet {
    opacity: 0;
	filter: alpha(opacity=0);
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transform: scale(0.8);
	-webkit-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-moz-transform: scale(0.8);
	width: 20px;
	height: 20px;
	border-radius: 20px;
	background: #212930;
	position: absolute;
	border: 3px solid white;
}
.bullet.top {
    top: 18px;
}
.bullet.left {
    left: 50%;
}
.show {
    display: block !important;
}
.close {
    color: #000;
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
}
.bullet.left.mid {
    margin-left: -50px;
}
.bullet.left.far {
    margin-left: -30px;
}
.bullet.btm {
    top: 190px;
}
.bullet.top {
    top: 13px;
}
.bullet.right.far {
    margin-right: -30px;
}
.right.close {
    margin-right: -90px;
}
.bullet.centre {
    top: 105px;
}
.bullet.right {
    right: 50%;
}

.bullet.left >div {
    background: rgba(0, 0, 0, 0) url("../images/indicator.png") no-repeat scroll left center;
    height: 14px;
    position: absolute;
    right: 17px;
}
.bullet.left div > div {
    display: block;
	padding: 15px;
	position: absolute;
	text-align: left;
	top: -28px;
	width: 300px;
}
.bullet.left.close > div {
    width: 45px;
}
.bullet.left.close div > div {
    right: 47px;
}
.bullet.left.mid div > div {
    right: 81px;
}
.bullet{
	cursor:pointer;
}

.bullet div > div h4 {
    font: 20px "Open Sans",sans-serif;
    margin-bottom: 0;
    text-transform: capitalize;
	color:#db6200;
	font-weight:400;
}
.bullet div > div p {
    color: #174f7d;
    font: 14px "Open Sans";
}

.bullet div > div p strong{
	text-transform:uppercase;
}

.bullet.left.mid > div {
    width: 80px;
}
.bullet.left.far > div {
    width: 100px;
}
.bullet.left.far div > div {
    right: 101px;
}

.bullet.right >div {
    background: url('../images/indicator-right.png') right no-repeat;
    position: absolute;
    left: 17px;
    height: 14px;
}
.bullet.right.far > div {
    width: 104px;
}

.bullet.right.far div > div {
    left: 107px;
}
.bullet.right div > div {
    display: block;
    padding: 15px;
    position: absolute;
	text-align: left;
	top:-28px;
    width: 300px;
}
.bullet.right.close > div {
    width: 45px;
}

.bullet.right.close div > div {
    left: 47px;
}

.main_banner .owl-buttons {
    font-family: "FontAwesome";
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    font-size: 33px;
    top: -99px;
    position: absolute;
    left: 50%;
    z-index: 9000;
}
.main_banner .owl-buttons div.owl-prev {
    position: absolute;
    top: 0;
    left: -120px;
	text-indent: -99999px;
}
.main_banner .owl-buttons div.owl-prev:after{
	content:"\e6ea";
	font-family: 'idealtheme';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	text-indent:0;
	float:left;
}
.main_banner .owl-buttons div.owl-next {
    position: absolute;
    top: 0;
    right: -89px;
	text-indent: -99999px;
}
.main_banner .owl-buttons div.owl-next:after{
	content:"\e6eb";
	font-family: 'idealtheme';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	text-indent:0;
	float:left;
}

.google_play_btn, .apple_app_btn{
    position: absolute;
    width: auto;
    bottom: 23px;
}
.google_play_btn {
    float: right;
    right: 0;
}

.google_btn {
    display: block;
}

.apple_app_btn {
    float: left;
    left: 0;
}

.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 3%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    filter: alpha(opacity=100);
    opacity: 1;
    background: none;
}
.carousel-control.left, .carousel-control.right {
    background-image: none;
}

.carousel-control .glyphicon, .carousel-control .glyphicon, .carousel-control .icon-prev, .carousel-control .icon-next {
    width: 55px;
    height: 55px;
    margin-top: -15px;
    font-size: 30px;
    border-radius: 100%;
    z-index: 10;
    color: #000;
	opacity:0.5;
}

.carousel-control .glyphicon:hover{
	display: block;
	opacity: 1;
    color: #000;
}

.carousel-inner > .item > img{
	height:445px;

}
#myCarousel{
	margin-top: 15px;
}

.carousel-control.left .glyphicon{
    left: 50%;
}
.carousel-control.right .glyphicon{
    right: 50%;
}
.carousel-control .glyphicon {
    position: absolute;
	top: 50%;
	z-index: 5;
	display: inline-block;
	padding: 6px 0;
}

/* end banner slider */

/* rightside_bar */
.rightside_bar{
	width:13.26%;
	float:left;
	background:#fff;/*#020102;*/
	padding:15px 15px 15px;
	max-height: 581px;
	min-height: 581px;
	overflow-y: hidden;
	overflow-x: hidden;
	/*border: solid 1px #f3f3f3;*/
}

.sidebar_item{
	width:100% !important;
	float:left;
	margin-bottom:15px;
	position: relative;
}

#data .carousel{
	height: 622px !important;
}
/*.sidebar_item:last-child{
	margin-bottom:0;
}*/
.sidebar_item img {
    width: 100%;
    float: left;
}
.item_title {
    text-align: center;
    background: rgba(0, 82, 128, 0.9);
    position: absolute;
    bottom: 0;
    width: 100%;
	color:#fff;
	font:12px 'Open Sans';
	font-weight:700;
	padding:10px 0;
}
/* end rightside_bar */

/*search form */
.search_box {
    width: 100%;
    float: left;
    background: rgba(0, 82, 128, 0.3);
    padding: 8px 0;
	margin-top:0px;
}
.search_form {
    width: 80%;
    margin: 0 auto;
	position: relative;
	height:35px;
}
.search_form input[type="text"] {
    border-radius: 5px;
    background: #fff;
    padding: 6px 12px;
    height: 35px;
    font-size: 16px;
    font-family: Arial;
    color: #5a5a5a;
	border: none;
	box-shadow: none;
}
.search_input{
	width:40%;
}
.date_input{
	width: 25%;
	margin: 0 0 0 1.5%;
}
.search_button{
	width: 4.33%;
	margin-left: 1.5%;
}
.search_input, .date_input, .search_button{
	display:inline-block;
	float:left;
}
.date_input .input-group{
	width:100%;
}
.btn-search {
    background: #0c4677;
    color: #fac460;
    font-size: 19px;
    padding: 3px 12px;
}
.btn-search:hover, .btn-search:focus{
	color: #fac460;
}

.input-group-addon {
    padding: 0px 0px;
    font-size: 28px;
    font-weight: normal;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #fff;
    border: none;
    border-radius: 5px;
	border-left:none;
	width:17%;
}
.input-group-addon img {
    margin-top: -7px;
}

.date_from, .date_to{
	border-right: none !important;
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* end search form */

/* navbar */
.main_nav {
    background: rgba(4, 2, 4, 0.8);
    float: left;
    width: 100%;
    border-radius: 0;
	border:none;
	z-index: 999999;
	min-height:35px;
	margin-bottom:0;
}
.affix {
    position: fixed !important;
}
.social_icon {
    width: auto;
    /*background: rgba(4, 2, 4, 0.8);
	background: -webkit-linear-gradient(left,rgba(4, 2, 4, 0), #363436); /*Safari 5.1-6*/
  	/*background: -o-linear-gradient(right,rgba(4, 2, 4, 0), #363436); /*Opera 11.1-12*/
  /*	background: -moz-linear-gradient(right,rgba(4, 2, 4, 0), #363436); /*Fx 3.6-15*/
/*  	background: linear-gradient(to right, rgba(4, 2, 4, 0), #363436); /*Standard*/
    float: right;
    position: fixed;
    right: 0;
    top: 40%;
    padding: 0px;
	z-index:10;
}
.social_icon.affix {
    top: 5%;
}
.social_heading {
    color: #000;
    font: 14px 'Open Sans';
	margin-right:15px;
}
.btn_social {
    font: 16px 'Open Sans';
    color: #fff;
    border-radius: 0;
	display: block;
	padding: 12px 15px;
}
.btn_social:hover{
	color:#fff;
	background:#1ccdca;;
}
.facebook_ico {
    background: #3b5998;
}
.twitter_ico {
    background: #55ACEE;
}
.google_ico {
    background: #dd4b39;
}
.linkedin_ico {
    background: #0e76a8;
}

#my_navbar {
    padding: 0;
}
.main_nav.affix {
    background: #363436;
}
.main_nav .nav > li > a {
    position: relative;
    display: block;
    padding: 8px 30px;
    color: #fff;
    font: 15px 'Open Sans';
}
.main_nav .nav > li > a:hover, .main_nav .nav > li > a:focus, .main_nav .nav > li.active > a{
	color:#000;
	background:#ff9536;
}

.main_nav .nav.navbar-right > li > a {
    position: relative;
    display: block;
    padding: 8px 30px;
    color: #fff;
    font: 12px 'Open Sans';
}
.main_nav .nav.navbar-right > li.myAccount > a{
	padding-right:8px;
}
.main_nav .nav.navbar-right > li.login > a{
	padding-right:8px;
	padding-left:8px;
}
.main_nav .nav.navbar-right > li.register > a{
	padding-left:8px;
}

.main_nav .nav.navbar-right > li > a:hover, .main_nav .nav.navbar-right > li > a:focus, .main_nav .nav.navbar-right > li.active > a{
	color:#ff9536;
	background:transparent;
}
.nav_saperator{
	color:#fff;
	padding:7px 0;
}
/* end navbar */


.full_body_image {
    background: rgba(0, 0, 0, 0) url('../images/main_body.jpg') top center no-repeat;
    height: 2936px;
	float:left;
    width: 100%;
	/*margin-top: 35px;*/
}

.full_body_image02 {
    background: rgba(0, 0, 0, 0) url('../images/main_body02.jpg') top center no-repeat;
    height: 3915px;
	float:left;
    width: 100%;
	/*margin-top: 35px;*/
}

.add-itinerary {
    /*float: right;*/
    position: fixed;
    right: 0;
    top: 19%;
	z-index:9;
}
.add-itinerary.affix{
	top: 8%;
	right: 0;
	position:fixed !important;
}
/* select from the best */
.best_select {
    width: 100%;
    float: left;
    margin-top: 30px;
	margin-bottom:0px;
}
.sctn_heading{
	font: 40px 'Roboto Slab';
	color:#0e4778;
	font-weight:300;
	width:80%;
	margin:0 auto 10px;
	text-align:center;
}
.sctn_heading div{
	color:#ff9536;
	font-weight:600;
	text-transform:uppercase;
	display: inline-block;
}
.sctn_tagline{
	width:80%;
	margin:0 auto;
	font:16px 'Roboto';
	color:#747474;
	letter-spacing:0.5px;
	text-align:center;
}

.sctn_hr {
    height: 1px;
    border: 0;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, #dbdbdb));
}

.tab_sctn {
    width: 100%;
    float: left;
    margin-top: 30px;
}
.best_tabs {
    width: 100%;
	margin-bottom: 40px;
	border: none;
}

.best_tabs > li {
    width: 16.66%;
    text-align: center;
}
.best_tabs > li > a {
    display: block;
    padding: 0px 15px 15px;
	color:#757575;
	font: 20px 'Roboto Slab';
	text-transform:uppercase;
    border: none;
	margin-right: 0;
    border-bottom: solid 3px #dbdbdb;
}

.best_tabs > li.active > a, .best_tabs > li.active > a:hover, .best_tabs > li.active > a:focus {
    color: #0d4778;
    cursor: default;
    background-color: #fff;
    border: none;
    border-bottom: 3px solid #f35d0a;
}

.best_tabs > li > a:hover, .best_tabs > li > a:focus {
    text-decoration: none;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #f35d0a;
    color: #0d4778;
}
.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  border-top: 20px solid #f00;
}
.best_tabs > li.active > a:after {
    content: "";
    width:0;
    height:0;
    border-top-color: #f35d0a !important;
	border: solid transparent;
	border-width: 8px;
    position:absolute;
    bottom:-19px;
    left: 50%;
    margin-left: -12px;
}

.sctn_tab_content{
	width:100%;
	float:left;
}

.single_item {
    width: 100%;
    float: left;
    position: relative;
	overflow:hidden;
}
.single_item img{
	width:100%;
	float:left;
    transition: all 0.7s ease 0s;
}
.add-itinerary img {
    position: relative;
}
.create-itinerary-btn{
	position:absolute;
	top:45px;
	width: 100%;
}
.create-itinerary-btn i{
	font-size:35px;
	color:#0e4778;
}
.cart-itineray {
    margin-top: 2px;
    float: left;
    margin-left: 10px;
}
/*.add-itinerary:after{
	content:url(../images/addItinerary-after.png);
	height:135px;
	width:13px;
}*/
.cart-itineray span {
    border-radius: 100%;
	background: #f00;
	padding: 0 5.5px;
	position: absolute;
	left: 34px;
	top: 0;
	border: solid 2px #fff;
	color: #fff;
	font: 13px 'Open Sans';
	font-weight: 700;
}
.add-itinerary ul {
    position: absolute;
	left: 61px;
}
.add-itinerary ul li{
	line-height: 18px;
}
.add-itinerary ul li a{
	font:14px 'Open Sans';
	color: #0e4778;
	text-transform: uppercase;
}
.single_item:hover img {
    transform: scale(1.15);
}
.item_detail {
    width: 100%;
    float: left;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0px;
    height: 63px;
    padding: 10px 15px;
    text-align: center;
    transition: all 0.7s ease 0s;
}
.item_heading {
    font: 16px 'Open sans';
    color: #fff;
    font-weight: bold;
	margin-bottom:0px;
	text-align:left;
}
.package {
    font: 14px 'Open Sans';
    color: #fff;
	text-align:left;
	margin-bottom: 0;
}
.item_desc {
    font: 14px 'Roboto';
    color: #fff;
    text-align: center;
	margin-bottom:0;
	display:none;
}
.know_more, .add_itinerary {
    border-radius: 0;
    background: #fff;
    font: 14px 'Roboto';
    color: #000;
    letter-spacing: 0.5px;
    margin: 10px 10px;
	display:none;
}
.know_more:hover, .add_itinerary:hover, .know_more:focus, .add_itinerary:focus{
    background: #fab949;
    color: #000;
}

.feature_inner_ling {
    border-radius: 0;
}
.porto_galla .owl-pagination {
    padding-right: 10px;
    top: 5px;
}

.porto_galla .owl-page.active, .porto_galla .owl-page:hover{
	background: #FF9536;
}


.single_item:hover .item_detail{
	bottom:0;
	height:100%;
	padding: 27% 5px;
}
.single_item:hover .item_heading{
	text-align:center;
	margin-bottom:5px;
    font: 20px 'Open sans';
    font-weight: bold;
}
.single_item:hover .package{
	text-align:center;
	margin-bottom:15px;
    font: 16px 'Open sans';
}
.single_item:hover .item_desc{
	display:block;
	margin-bottom:25px;
	text-align:center;
	max-height:inherit;
	overflow:visible;
}
.single_item:hover .know_more, .single_item:hover .add_itinerary{
	display:inline-block;
    margin: 0px 10px;
}

.multiple_item {
    width: 100%;
    float: left;
    position: relative;
	overflow:hidden;
}
.multiple_item img{
	width:100%;
	float: left;
	max-height: 191px;
	min-height: 191px;
    transition: all 0.7s ease 0s;
}
.multiple_item:hover img {
    transform: scale(1.15);
}
.multiple_item:hover .item_detail{
	bottom:0;
	height:100%;
	padding: 15px 5px;
}
.multiple_item:hover .item_heading{
	text-align:center;
	margin-bottom:5px;
    font: 20px 'Open sans';
    font-weight: bold;
}
.multiple_item:hover .package{
	text-align:center;
	margin-bottom:5px;
    font: 16px 'Open sans';
}
.multiple_item:hover .item_desc{
	display:block;
	margin-bottom: 10px;
	text-align:center;
	max-height:inherit;
	overflow:visible;
}
.multiple_item:hover .know_more, .multiple_item:hover .add_itinerary{
	display:inline-block;
    margin: 0px 10px;
}
.item_row{
	margin-top:30px;
}
/* end select from the best */

/* exclusive deals of the month */
.deals{
	width:100%;
	float:left;
	margin-top:30px;
}
.png_slider .owl-buttons{
	top: 38%;
}
.png_slider .owl-prev {
    left: 0;
}
.png_slider .owl-next {
    right: 0;
}
.png_slider .owl-prev, .png_slider .owl-next {
    border: none;
    font-size: 52px;
	height: 80px;
	line-height: 80px;
    text-align: center;
    width: 50px;
    color: #0e4778;
    background: rgba(255, 255, 255, 0.47) !important;
    border-radius: 0 !important;
}
.png_slider.png_slider_light {
    padding-bottom: 0;
}
/* end exclusive deals of the month */

/* wellness the city events */
.events{
	width:100%;
	float:left;
	/*background:url('../images/map_bg.jpg') top center no-repeat;*/
	padding: 40px 0;
	height:500px;
}
.transparentClass {
    background-color: transparent !important;
}
.hideClass {
    display: none !important;
}
.gm-style-iw {
    top: 77px !important;
    left: 30px !important;
}

.events .sctn_heading{
	color: #fff;
}
.events .sctn_heading div{
	color: #0e4778;
}
.event-box{
	width:100%;
	float:left;
	position:relative;
	padding:15px 0;
	height: 550px;
}

.event_one {
    width: auto;
    float: left;
    position: relative;
    /*left: 108px;*/
    /*top: 240px;*/
    width: 350px;
    height: 204px;
}

.event_one:after{
	content:"";
	width:26px;
	height:26px;
	position:absolute;
	border-radius:100%;
	left: 158px;
	top:168px;
	background: -webkit-gradient(radial, center center, 0, center center, 460, from(#a1ffa5), to(#138410));
	background: -webkit-radial-gradient(circle, #a1ffa5, #138410); /* Firefox 3.6+ */
	background: -moz-radial-gradient(circle, #a1ffa5, #138410); /* IE 10 */
	background: -ms-radial-gradient(circle, #a1ffa5, #138410);
}

.event_item {
    width: 350px;
    background: #fff;
    padding: 10px;
	position: relative;
	left: 0;
	box-shadow: 6px 9px 12px rgba(0, 0, 0, 0.3);
}

.event_one .event_item::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top-color: #fff !important;
    border: solid transparent;
    border-width: 20px;
    top:162px;
    left: 151px;
	z-index: 9;
}
.event_two .event_item::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-bottom-color: #fff !important;
    border: solid transparent;
    border-width: 20px;
    top: -39px;
    right: 153px;
	z-index: 9;
}
.event_three .event_item::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left-color: #fff !important;
    border: solid transparent;
    border-width: 20px;
    top: 55px;
    right: -40px;
	z-index: 9;
}

.event_desc {
    width: 60%;
    float: right;
}
.event_desc h6 {
    margin-bottom: 5px;
    font: 16px Arial;
    font-weight: bold;
    color: #000;
}
.event_desc p {
    color: #000;
    font: 16px Arial;
	/*font: 14px Arial;*/
	max-height: 76px;
	min-height: 76px;
	height:76px;
}
.btn-event {
    background: #0d4778;
    color: #fff;
    font: 12px 'Open Sans';
    padding: 4px 12px;
}
.btn-event:last-child{
	margin-left: 10px;
}
.btn-event:hover{
	color:#fff;
	background:#ff9536;
}

.event_two {
    width: auto;
    float: right;
    position: relative;
    right: 138px;
    top: 350px;
}

.event_two:after{
	content:"";
	width:26px;
	height:26px;
	position:absolute;
	border-radius:100%;
	right: 159px;
	top:-32px;
	background: -webkit-gradient(radial, center center, 0, center center, 460, from(#a1ffa5), to(#138410));
	background: -webkit-radial-gradient(circle, #a1ffa5, #138410); /* Firefox 3.6+ */
	background: -moz-radial-gradient(circle, #a1ffa5, #138410); /* IE 10 */
	background: -ms-radial-gradient(circle, #a1ffa5, #138410);
}

.event_three {
    width: auto;
    float: left;
    position: relative;
    right: -145px;
    top: 100px;
}

.event_three:after{
	content:"";
	width:26px;
	height:26px;
	position:absolute;
	border-radius:100%;
	right: -33px;
	top:63px;
	background: -webkit-gradient(radial, center center, 0, center center, 460, from(#a1ffa5), to(#138410));
	background: -webkit-radial-gradient(circle, #a1ffa5, #138410); /* Firefox 3.6+ */
	background: -moz-radial-gradient(circle, #a1ffa5, #138410); /* IE 10 */
	background: -ms-radial-gradient(circle, #a1ffa5, #138410);
}
/* end wellness the city events */

/* PACKAGES & activities */
.package_tabs {
    width: 100%;
    margin-bottom: 40px;
    border: none;
}
.package_tabs > li {
    width: 33.33%;
    text-align: center;
}
.trip_text {
    width: auto;
    display: inline-block;
    font-family: 'Raleway';
}
.toli_text{
	font-family: 'postfaceregular';
	width:auto;
	display:inline-block;
	text-transform: lowercase;
}
.desc_tour {
    display: block;
    text-align: left;
    margin-bottom: 0;
    font-family: 'Open Sans';
	width: 100%;
	text-overflow: ellipsis;
	max-height: 21px;
	overflow: hidden;
}
/*.activities_pack .multiple_item img{
	max-height: 191px;
	min-height: 191px;
}*/
/* end packages & activities */


/* nearby place */
.nearby{
	width:100%;
	float:left;
	background:#f4f4f4;
}
.nearby .sctn_heading{
	width:100%;
	float:left;
	text-align:left;
	font-size:30px;
	padding:18px 0;
}
.nearby_item {
    width: 100%;
    float: left;
    position: relative;
	margin-bottom:40px;
}
.nearby_item_name {
    width: 100%;
    float: left;
    position: absolute;
    bottom:0px;
    padding: 10px;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    border-top: solid 1px #fff;
}
.nearby_item_name a{
	width: 100%;
	color:#fff;
	text-decoration:none;
	font:15px 'Open Sans';
	font-weight:bold;
}
/* end nearby place */

/* footer */
.main_footer {
    width: 100%;
    float: left;
    padding: 25px;
    background: #174f7d;
}
.footer_item_box {
    width: 100%;
    float: left;
}
.footer_heading {
    width: 100%;
    float: left;
	font:24px 'Roboto Slab';
	color:#fff;
}

.footer_heading .trip_text{
	color:#fff;
	font:38px 'Raleway';
	font-weight: bold;
}

.footer_heading .toli_text{
	color:#fac460;
	font:40px 'postfaceregular';
}
.contact_address {
    width: 100%;
    float: left;
    font: 16px 'Open Sans';
    color: #fff;
}

.contact_info {
    width: 100%;
    float: left;
    margin-top: 15px;
    font: 16px Arial;
    color: #fff;
}
.contact_info a{
	color:#fff;
}
.contact_info span{
	font-size:20px;
}
.quick_items {
    width: 100%;
    float: left;
}
.quick_items li {
    width: 100%;
    float: left;
    line-height: 28px;
}
.quick_items li:before {
	font-family: 'idealtheme';
	content:"\f105";
	margin-right:15px;
	color:#fff;
	font-size:20px;
}
.quick_items li a{
	color:#fff;
	font:16px 'Open Sans';
	letter-spacing:0.5px;
}
.quick_items li a:hover, .quick_items li a:focus{
	opacity: 0.7;
}

.follow_items {
    width: 100%;
    float: left;
}
.follow_items li {
    width: 100%;
    float: left;
    line-height: 36px;
}
.follow_items li a{
	color:#fff;
	font:16px 'Open Sans';
	letter-spacing:0.5px;
}
.follow_items li a:hover, .follow_items li a:focus{
	opacity: 0.7;
}

.follow_items li span {
    margin-right: 15px;
}
.newsletter_tag {
    width: 100%;
    float: left;
    font: 14px 'Open Sans';
    color: #fff;
}
.newsletter_form input[type="email"] {
    border-radius: 5px;
    background: #fff;
    padding: 6px 12px;
    height: 32px;
    font-size: 14px;
    font-family: 'Open Sans';
    color: #5a5a5a;
    border: none;
    box-shadow: none;
	width: 78%;
	float: left;
}
.btn-newsletter, .btn-newsletter:hover {
    background: #ec1d23;
    color: #fff;
    font: 16px 'Open sans';
    padding: 4px 12px;
	margin-left: 10px;
}
.copy_right{
	width:100%;
	float:left;
	text-align:center;
	color:#f7f7f7;
	font:16px 'Roboto';
	margin-top:20px;
}
/* end footer */

.navbar-header .top_header_links {
    display: none;
}

/* blog page */
.blog_page{
	top:0;
}
.banner_wrapper {
    background-position: center center;
    background-size: cover;
    padding: 140px 0;
    text-align: center;
}
.blog_banner {
    background-image: url("../images/blog_title_bg.jpg");
}
.banner_heading{
	color:#fff;
	font:40px "postfaceregular";
}

.feature_inner h6{
	background: #ff9536 none repeat scroll 0 0;
    border-radius: 0 5px 5px 0;
    bottom: -35px;
    padding: 6px 10px;
    position: absolute;
    width: 70%;
    z-index: 1;
	color:#fff;
}
.blog_grid_block > .feature_inner {
    border-bottom: 2px solid #fab949;
}

.blog_grid_con .meta{
	margin-bottom:5px;
}
.blog_grid_con .desc{
	font-size:12px;
}

.feature_inner_ling::after{
	background: #0e4778;
}

.feature_inner_btns > a {
    color: #ff9536;
}

.pagination li a, .pagination li a:hover, .pagination li.active a, .pagination li.disabled, .pagination li.page_of{
	height: 34px;
    line-height: 32px;
    min-width: 34px;
}

.pagination li a:hover, .pagination li.active a, .pagination li.next_pagination > a:hover, .pagination li.prev_pagination > a:hover{
	background: #ff9536 none repeat scroll 0 0;
    border-color: #ff9536;
    color: #fff;
}

[class^="post_"]{
	margin-bottom:0px !important;
	float:left;
}

.post_day{
	font:bold 24px 'postfaceregular';
	color:#ff9536;
}

.post_month{
	font-family:'Oswald';
	text-transform:uppercase;
}
.post_year{
	font-family:'Oswald';
	text-transform:uppercase;
}
/* end blog page */

/* contact page */
.contact_page{
	top:0;
}
.contact_banner {
    background-image: url("../images/contact-header.jpg");
}

.contact_page_head{
	text-align:center;
	font:bold 24px 'Raleway';
	letter-spacing:1px;
	color:#000;
}
.contact_page_head i {
    color: #ff9536;
    font-size: 30px;
    margin-right: 10px;
    vertical-align: baseline;
}

.contact_tgline{
	text-align:center;
	font:16px 'Raleway';
	letter-spacing:0.5px;
	color:#555;
}
.space30{
	padding:30px 0 0;
}
.contact_page .bg_gray {
    background: #f9fafc none repeat scroll 0 0;
    border-bottom: none;
    border-top: none;
}
.tspace30{
	padding:50px 0 ;
}
.form-group {
    margin-bottom: 30px;
}
.contact_form{
	width:100%;
	max-width:600px;
	margin:0 auto;
}
.input_label {
    color: #000;
    font: bold 14px "Pt Sans";
    letter-spacing: 1px;
	text-transform:uppercase;
}

.input_label sup{
	color:#f00;
	font:16px 'Oswald';
}
.contact-input {
    box-shadow: none;
	border-radius:0 !important;
	font:15px 'Pt Sans';
	padding:10px !important;
	border:solid 1px #aaa !important;
	height: 45px;
}
.contact-input:focus{
	border-color: #ff9536 !important;
}
.btn-submit {
    border-radius: 0;
    color: #fff;
    font: bold 15px "PT Sans";
    letter-spacing: 1px;
    padding: 10px 20px;
    text-transform: uppercase;
	background:#ff9536;
	transition:all 0.3s linear;
	border:solid 2px transparent;
}
.btn_b.btn-submit .hidden_element::after {
	color:#fff !important;
}
.btn_b.btn-submit .hidden_element::before {
	color:#ff9536 !important;
}
.btn-submit:hover, .btn-submit:focus, .btn-submit:active, .btn-submit:active:focus{
	background:#fff !important;
	border-color:#ff9536 !important;
}
.contact_detail{
	width:100%;
	max-width:800px;
	margin:0 auto;
}
.contact_detail_box{
	width:100%;
	float:left;
	padding:20px;
	border-radius:50px;
	border:solid 1px #555;
	font:18px 'Open Sans';
	letter-spacing:0.5px;
}
.contact_detail_box span {
    color: #ff9536;
    font-size: 20px;
    margin-right: 10px;
	vertical-align: middle;
}
.title_banner.t_b_color1 {
    background: #363436 none repeat scroll 0 0;
}
/* end contact page */

/* about page */
.about_banner {
    background-image: url("../images/services_title_bg.jpg");
}
.author cite {
    color: #ff9536;
	font-weight: 600;
}
.our-team-section h2{
	font:30px 'Oswald';
	letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
	color:	#ff9536;
}
.team-wrapper {
    margin-top: 50px;
	position: relative;
}
.team-wrapper img{
	width: 100%;
}
.team-wrapper .contents {
    border-bottom: 2px solid #ff9536;
	color: #444444;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 22px;
    padding: 20px;
    text-align: center;
	background: #f4f4f6;
	position: relative;
}
.team-wrapper .contents p {
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 15px;
    text-transform: capitalize;
}
.team-wrapper .contents span {
    font-size: 14px;
    font-weight: 600;
	color:	#ff9536;
}
.normal_text_slider .enar_owl_p:hover, .normal_text_slider .enar_owl_n:hover{
    color: #ff9536;
    border-color: #ff9536;
}
.bg_overlay {
    background: #363436;
}
.team-wrapper .contents::before {
    content: " ";
    position: absolute;
    left: 45%;
    top: -14px;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #f4f4f6;
}
.team-wrapper .social {
    text-align: center;
    padding: 5px 0 2px 0;
    position: absolute;
	top: 0;
	width: auto;
	right: 0;
}
.team-wrapper .social li {
    display: block;
	padding: 5px;
	margin-bottom: 2px;
    background: #ff9536;
}
.team-wrapper .social li a {
    color: #fff;
}
.our-team-section{
	padding-bottom:90px;
}
.section-title {
    color: #252525;
    text-transform: uppercase;
    font: bold 42px 'Open Sans';
    line-height: 50px;
    margin: 0 0 20px 0;
}
.animated p{
    font: 14px 'Open Sans';
    line-height: 24px;
    font-weight: 400;
    color: #777;
    margin-bottom: 25px;
}
/* end about page */

/* media for 1024 */
@media (max-width: 1024px){
	.main_nav .nav > li > a{padding:8px 19px;}
	.main_nav .nav.navbar-right > li > a{padding:8px 19px;}
	.multiple_item img{max-height:150px; min-height:150px;}
	.multiple_item:hover .item_detail{padding:14px 10px;}
	.multiple_item:hover .item_heading{font-size:16px; margin-bottom:0;}
	.multiple_item:hover .package{font-size:14px; margin-bottom:0;}
	.multiple_item:hover .item_desc{font-size:12px; margin-bottom:5px;}
	.multiple_item:hover .know_more, .multiple_item:hover .add_itinerary{font-size:10px;}
	.add-itinerary.affix{top:4%;}
	.event_one{left:36px;} .event_three{top:-120px; right:-90px;} .event_two{right:50px; top:370px;}
	.newsletter_form input[type="email"]{width:72%;}

	/* contact page */
	.contact_page{top:36px;} .banner_wrapper{padding:100px 0;}
}
/* end media for 1024 */

/* media for 980 */
@media (max-width: 980px){
	.main_nav .nav > li > a{padding:8px 14px;}
	.main_nav .nav.navbar-right > li > a{padding:8px 14px;}
	.multiple_item img{max-height:110px; min-height:110px;}
	.multiple_item:hover .item_detail{padding:14px 0px;}
	.multiple_item:hover .item_desc{display:none;}
	.multiple_item:hover .know_more, .multiple_item:hover .add_itinerary{margin:0 5px; padding:6px;}
	.multiple_item:hover .package{margin-bottom:5px;}
	.multiple_item:hover .item_heading{margin-bottom:5px;}
	.single_item:hover .item_desc{display:none;}
	.single_item:hover .know_more, .single_item:hover .add_itinerary{font-size:10px; margin:0 5px;}
	.single_item:hover .item_heading{margin-bottom:15px;}
	.desc_tour{display:none;} .logo_tagline{font-size:21px;}
	.package_tabs > li > a{font-size:19px;} .nearby_item_name a{font-size:20px;} .quick_items{margin-bottom:35px;}
	.event_one{left:0px;} .event_three{top:-120px; right:0px;} .event_two{right:0px; top:320px;}
	.social_icon{top:25%;}

	/* contact page */
	.contact_page{top:2.8%;} .contact_detail_box{font-size:17px;}
}
/* end media for 980 */

/* media for 800 */
@media (max-width: 800px){
	.main_nav .nav > li > a{padding:8px 6px; font-size:12px;}
	.top_header_links{padding:7px 6px;}
	.top_header_links div:last-child{margin-left:7px;}
	.main_nav .nav.navbar-right > li > a{padding:8px 7px}
	.main_nav .nav.navbar-right > li.myAccount > a{padding-right:7px;}
	.nav_saperator{padding:6px 0;} .main_nav{min-height:33px;} .sctn_heading{font-size:34px;}

	.bullet.left.close > div{width:30px;} .bullet.left.close div > div{right:30px;}
	.bullet.left div > div{width:268px;} .bullet.left.mid > div{width:65px;}
	.bullet.left.mid div > div{right:65px;} .bullet.left.far > div{width:85px;}
	.bullet.left.far div > div{right: 84px;}

	.bullet.right.far > div{width:89px;} .bullet.right div > div{width:268px;}
	.bullet.right.far div > div{left:89px;} .bullet.right.close > div{width:30px;}
	.bullet.right.close div > div{left:30px;}  .item_detail{padding:4px 10px;} .activities_pack .item_detail{padding:10px;}

	.logo_tagline{font-size:16px;} .main_body_page{top:3.3%;} .main_footer{padding:25px 0;}

	/* contact page */
	.contact_page{top:2.6%;}
}
/* end media for 800 */

/* media for 767 */
@media (max-width: 767px){
	.navbar-toggle .icon-bar{background: #fff;} .navbar-toggle{margin:0;}
	/*.logo{position:fixed; top:10px; left:15px; width:auto; z-index:1052536;} .logo_tagline{display:none;}*/
	.main_nav, .main_nav.affix{padding:5px; background:#363436;}
	.navbar-header .top_header_links {display: block;}
	#my_navbar{position:absolute; right:0; background:#363436;width: 200px;box-shadow: none;top:43px;}
	#my_navbar .top_header_links, #my_navbar .nav_saperator{display:none;}
	.main_nav .nav.navbar-right > li > a:hover, .main_nav .nav.navbar-right > li > a:focus,
	.main_nav .nav.navbar-right > li.active > a{color:#fff;background:#ff9536;} .navbar-nav{margin:0;}
	.main_nav .nav.navbar-right > li > a, .main_nav .nav > li > a{font-size:14px;}
	.main_body_page{top:45px;} .logo_tagline{width:60%;} .search_form{width:95%;}
	.search_input{width:38%;} .social_icon{top:115px; width: 34px; left:0;} .hm_go_top{bottom:10px;}
	.best_tabs > li > a{padding:0 0 15px; font-size:16px;}

	.single_item{width:63%; left:18.5%;margin-bottom:10px;}.add-itinerary.affix{top:8%;}

	.multiple_item{width:46%; margin:0 10px;} .multiple_item img{max-height:191px; min-height:191px;}

	.single_item:hover .item_desc{display:block;}
	.single_item:hover .know_more, .single_item:hover .add_itinerary{font-size:14px; margin:0 10px;}
	.multiple_item:hover .item_heading{font-size:20px;}
	.multiple_item:hover .package{margin-bottom:8px;}
	.multiple_item:hover .item_desc{display:block; margin-bottom:15px; font-size:13px;}
	.multiple_item:hover .know_more, .multiple_item:hover .add_itinerary{font-size:14px; margin:0 10px; padding:6px 12px;}

	.sctn_heading{font-size:28px;} .btn_social{padding:6px 8px;}

	.event_three{right:-180px; top:-310px;} .event_two{top:220px; right:44px;} .event_one{top:198px;}
	.package_tabs > li > a{font-size:18px;}
	.nearby .col-sm-3.col-md-3.col-lg-3.col-xs-12{width:50%;} .nearby_item > img{width:100%;}
	.main_footer .col-md-3.col-sm-6.col-xs-12{width:50%;} .quick_items{margin-bottom:20px;}

	.sctn_tab_content .col-sm-4 { display: flex;}

	/* contact page */
	.banner_wrapper{padding:60px 0} .contact-input{margin-bottom:30px;} .contact_detail_box{border:none; padding:10px 0;}
}
/* end media for 767 */

/* media for 740 */
@media (max-width: 740px){
	.bullet.left div > div{width:233px;} .bullet.right div > div{width:228px;}
	.bullet div > div h4{font-size:16px;} .bullet div > div p{font-size:12px;}
	.apple_app_btn{left:50px;} .google_play_btn{right:50px;}
}
/* end media for 740 */

/* media for 700 */
@media (max-width: 700px){
	.bullet div{display:none;}
	.main_banner .owl-item .bullet{width:25px; height:25px;}
	.google_play_btn, .apple_app_btn{width:23%;} .google_play_btn img, .apple_app_btn img{width:100%;}
	.apple_app_btn{left:80px;} .google_play_btn{right:80px;}
	.row{margin:0;}
}
/* end media for 700 */

/* media for 600 */
@media (max-width: 600px){
	.logo_tagline{width:80%;} .multiple_item{margin:0 9px;}
	.multiple_item:hover .know_more, .multiple_item:hover .add_itinerary{font-size:11px; margin:0px;}
	.multiple_item:hover .item_desc{margin-bottom:10px;} .multiple_item:hover .item_detail{padding:14px 9px;}

	.sctn_heading{font-size:22px;} .package_tabs > li > a{font-size:13px;}
	.event_three{top:-320px; right:-50px;} .event_one{top:183px;} .event_two{right:25px; top:230px;}
	.nearby .row, .main_footer .row{margin:0;} .nearby .sctn_heading{padding:18px 15px;}

	.google_play_btn, .apple_app_btn{width:15%;}
	.apple_app_btn{left:18%;} .google_play_btn{right:18%;}
}
/* end media for 600 */

/* media for 480 */
@media (max-width: 480px){
	.multiple_item:hover .item_detail{padding:14px 0px;}
	.multiple_item:hover .know_more, .multiple_item:hover .add_itinerary{padding:6px;}
	.multiple_item{width:45%;}
	.single_item:hover .item_detail{padding:20% 5px;} .single_item:hover .know_more, .single_item:hover .add_itinerary{font-size:12px;}
	.best_tabs > li > a{font-size:12px;} .nearby .row, .main_footer .row{margin:0;}
	.nearby_item_name a{font-size:16px;}
	.apple_app_btn{left:20%;} .google_play_btn{right:20%;}
	.event_three::after, .event_two::after, .event_one::after{display:none;}
	.event_one .event_item::after, .event_two .event_item::after, .event_three .event_item::after{display:none;}
}
/* end media for 480 */

/* media for 414 */
@media (max-width: 414px){
	.single_item{left:0; width:100%; margin-bottom:20px;} .sctn_tab_content .row{margin:0;}
	.single_item:hover .item_detail{padding:20% 9px;}
	.single_item:hover .know_more, .single_item:hover .add_itinerary{font-size:14px;padding: 6px 12px;}
	.multiple_item{width:100%; margin:0 0 20px;} .multiple_item img{object-fit: cover}
	.main_footer .col-md-3.col-sm-6.col-xs-12{width:100%; margin-bottom:15px;} .quick_items{margin-bottom:0;}

	.event_three{right:-20px;}

	.search_input{width:100%; margin-bottom:10px;} .date_input{width:43%; margin:0;} .date_input.date_lst{margin-left:2%;}
	.sctn_tab_content .col-sm-5, .sctn_tab_content .col-sm-7{padding:0;}
	.google_play_btn, .apple_app_btn{width:30%; background:rgba(255, 255, 255, 0.75); padding:10px 15px;}
	.google_play_btn img, .apple_app_btn img{width:70%;}
	.google_play_btn{text-align:left;} .apple_app_btn{text-align:right;}
}
/* end media for 414 */

/* media for 360 */
@media (max-width: 360px){
	.date_input{width:42%;}
	.nearby_item_name a{font-size:14px;}
	.event_three::after, .event_two::after, .event_one::after{display:none;}
	.event_one{left:16px; top:200px;} .event_two{right:16px;} .event_three{right:-16px;}
	.event_one .event_item::after, .event_two .event_item::after, .event_three .event_item::after{display:none;}
	.single_item:hover .know_more, .single_item:hover .add_itinerary{margin:0 8px;}	.event_item{width:327px;}
}
/* end media for 360 */

/* media for 320 */
@media (max-width: 320px){
	.date_input{width:41%;}
	.single_item:hover .item_detail{padding:20% 7px;}
	.event_one{left:1px; top:200px;} .event_two{right:5px;} .event_three{right:-2px;}
	.event_desc h6{font-size:14px; margin-bottom:1px;} .event_desc p{font-size:11px; max-height:44px; min-height:44px; height:44px; margin-bottom:0;}
	.event_item > img{width:25%;} .event_desc{width:73%;} .event_item{padding:5px;width:310px;}
	.event_three{top:-170px;} .event_two{top:260px;}
	.single_item:hover .know_more, .single_item:hover .add_itinerary{margin:0 5px; font-size:12px;}
	.google_play_btn img, .apple_app_btn img{width:65%;}
}
/* end media for 3230 */
