<!-- footer -->
<div class="main_footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="footer_item_box">
          <h4 class="footer_heading"><span class="trip_text">TRIP</span><span
            class="toli_text">toli</span></h4>
          <p class="contact_address">D-98, Pawan Path, Hanuman Nagar Vaishali Nagar <br>
            Jaipur (Rajasthan) - 302021</p>
          <div class="contact_info"><span class="ico-phone"></span> &nbsp; <a href="tel:1800">1-800-CONTACT</a>
          </div>
          <div class="contact_info"><span class="ico-envelope-o"></span> &nbsp; <a
            href="mailto:info@triptoli.com">info@triptoli.com</a></div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="footer_item_box">
          <h4 class="footer_heading">Quick Links</h4>

          <ul class="quick_items">
            <li><a href="index.htm">Home</a></li>
            <li><a href="javascript:;">Itinerary</a></li>
            <li><a href="javascript:;">Blogs</a></li>
            <li><a href="javascript:;">Reviews</a></li>
            <li><a href="javascript:;">Trending</a></li>
            <li><a href="contact.htm">Contact Us</a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="footer_item_box">
          <h4 class="footer_heading">Follow us on</h4>

          <ul class="follow_items">
            <li><span><img src="../../assets/images/fb.png"></span><a href="javascript:;">Facebook </a></li>
            <li><span><img src="../../assets/images/twitter.png"></span><a href="javascript:;">Twitter</a></li>
            <li><span><img src="../../assets/images/pint.png"></span><a href="javascript:;">Pinterest</a></li>
            <li><span><img src="../../assets/images/gplus.png"></span><a href="javascript:;">Gplus</a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="footer_item_box">
          <h4 class="footer_heading">Sign up for Newsletter</h4>
          <p class="newsletter_tag">Subscribe to our newsletter now to stay updated with what's new
            with Midway!</p>
          <div class="contact_info">
            <form class="newsletter_form">
              <div class="form-group">
                <input type="email" name="email_newsletter" placeholder="email address"
                       class="form-control">
                <button type="button" class="btn btn-newsletter">GO</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="copy_right">
      &copy; 2015-2016 Trip Toli . All rights reserved.
    </div>
  </div>
</div>
<!-- end footer -->
