<!-- top haeder and navbar -->
<nav style="position: " class="navbar main_nav" data-spy="affix" data-offset-top="0"> <!-- data-offset-top="0" --?>
            <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <div class="top_header_links">
      <div>
        <span class="ico-phone5"></span>&nbsp; <a href="tel:1800">1-800-CONTACT</a>
      </div>
      <div>
        <span class="ico-envelope"></span>&nbsp; <a href="mailto:info@triptoli.com">info@triptoli.com</a>
      </div>
    </div>
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#my_navbar"
            aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="my_navbar">
    <ul class="nav navbar-nav my_navbar">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/itinerary-plan">Create Itinerary</a></li>
      <li><a href="#">Blogs</a></li>
      <li><a href="#">Reviews</a></li>
      <li><a href="/contact">Contact Us</a></li>
    </ul>
    <ul class="nav navbar-nav my_navbar navbar-right margin_right0">
      <div class="top_header_links">
        <div>
          <span class="ico-phone5"></span>&nbsp; <a href="tel:1800">1-800-CONTACT</a>
        </div>
        <div>
          <span class="ico-envelope"></span>&nbsp; <a
          href="mailto:info@triptoli.com">info@triptoli.com</a>
        </div>
      </div>
      <li ng-show="showAccount" class="myAccount"><a href="/my-trip">My Account</a></li>
      <li class="nav_saperator">|</li>
      <li ng-show='$ctrl.OAuth.isAuthenticated()'>{{ $ctrl.Session.read('user').email}}</li>
      <li ng-show="showLoginbtn" class="login"><a href="#" ng-click="$ctrl.showLogin()"  ng-hide='$ctrl.OAuth.isAuthenticated()'>Login</a></li>
      <li ng-show="showLogout" class="login"><a href="#" ng-click="$ctrl.logout()">Logout</a></li>
      <li ng-show="showRegisterbtn" class="nav_saperator">|</li>
      <li ng-show="showRegisterbtn" class="register"><a href="#" ng-click="$ctrl.showRegister()">Register</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
<!-- end top header and navbar -->
<div ng-show="showRegister||showLogin"
     class="model-bg"></div>
<div ng-show="showRegister" class="col-md-5 col-lg-5 col-xs-10 col-sm-6 col-md-offset-2 col-lg-offset-2 popupBox "
     >
  <div style="margin-top: 10px" class="row text-center sctn_heading"><h4>Register Now</h4></div>
  <div ng-form="registerForm" class="col-md-5">
    <div style="margin-top: 5px" class="row"><input required ng-model="user.name" placeholder="Full Name" type="text"
                                                    class="form-control"></div>
    <div style="margin-top: 10px" class="row"><input required ng-model="user.email" placeholder="Email" type="email"
                                                     class="form-control"></div>
    <div style="margin-top: 10px" class="row"><input required ng-model="user.mobile" placeholder="Mobile" type="text"
                                                     class="form-control"></div>
    <div style="margin-top: 10px" class="row"><input required ng-model="user.password" placeholder="Password"
                                                     type="password" class="form-control"></div>
    <div style="margin-top: 10px;margin-bottom:10px" class="row"><a ng-disabled="registerForm.$invalid"
                                                                    ng-click="$ctrl.register(user)"
                                                                    class="btn btn-primary">Register</a></div>
  </div>

  <div class="col-md-5 col-md-offset-1">
    <div style="margin-top: 10px" class="row"><a class=" btn btn-primary btn-lg col-md-12">Facebook</a></div>
    <div style="margin-top: 10px" class="row"><a class="btn btn-danger btn-lg col-md-12">Google</a></div>
    <div style="margin-top: 10px" class="row"><a class="btn btn-info btn-lg col-md-12">Twitter</a></div>
  </div>

</div>

<div ng-show="showLogin" class="col-md-5 col-lg-5 col-xs-10 col-sm-6 col-md-offset-2 col-lg-offset-2 popupBox">
  <div style="margin-top: 10px" class="row text-center sctn_heading"><h4>Log In</h4></div>
  <form name="loginForm" ng-submit='$ctrl.loginx(login)' class="col-md-5">
    <div style="margin-top: 5px" class="row">
      <input required ng-model="login.username" placeholder="Email" type="text"
                                                    class="form-control"></div>
    <div style="margin-top: 10px" class="row">
      <input required ng-model="login.password" placeholder="Password" type="password"
                                                     class="form-control"></div>
    <div style="margin-top: 10px" class="row">
      <div class="col-md-8"><input type="checkbox"><span style="font-size: 11px">Keep Me Loged In</span></div>
      <div class="col-md-4">
        <button type='submit' ng-disabled="loginForm.$invalid"
                               class="btn btn-primary">Log in</button></div>
    </div>
    <div style="margin-top: 10px" class="row">
      <div class="col-md-4 text-left"><span style="font-size: 12px"><a ng-click="$ctrl.showRegister()" href="#">Sign Up</a></span></div>
      <div class="col-md-8 text-right"><a href="#">Forget Password?</a></div>
    </div>

  </form>

  <div class="col-md-5 col-md-offset-1">
    <div style="margin-top: 10px" class="row"><a class=" btn btn-primary btn-lg col-md-12">Facebook</a></div>
    <div style="margin-top: 10px" class="row"><a class="btn btn-danger btn-lg col-md-12">Google</a></div>
    <div style="margin-top: 10px;margin-bottom:10px" class="row"><a class="btn btn-info btn-lg col-md-12">Twitter</a></div>
  </div>

</div>
