<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 padding_no">
      <flex-slider flex-slide="image in poiImages track by $index">
        <li>
          <img style="max-height: 400px !important;" ng-src='../../assets/images/poi-banner/{{image.image}}'>
        </li>

      </flex-slider>
      <div
        style="width: 100%;height: 50px;background-color: #000000;opacity: 0.5;position: absolute;bottom: 1%;left: 0px;z-index: 9">

      </div>
      <div
        style="width: 100%;height: 50px;position: absolute;bottom: 1%;left: 0px;z-index: 99">
        <div class="row">
          <div class="col-md-6 text-left">
            <span style="font-size: 25px;color:#ffffff">Fort view Of {{$ctrl.poiInfo.Poi.name}}</span>
          </div>
          <div style="padding-top: 9px;" class="col-md-6 text-right">
            <span style="font-size: 20px;color:#ffffff;margin-top: 5px"><img src="../../assets/images/plusicon.png"> Add to itinerary</span>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div style="margin-top: 10px" class="container">
    <div class="row">
      <div style="border-right: 1px solid" class="col-md-6">
        <div class="row">
          <div style="padding: 10px" class="col-md-4 col-sm-4 col-xs-4"><a href="#">&nbsp;&nbsp;&nbsp;<img
            src="../../assets/images/about_icon.png"><br>About</a></div>
          <div style="padding: 10px" class="col-md-4 col-sm-4 col-xs-4"><a href="#">&nbsp;&nbsp;<img
            src="../../assets/images/video_icon.png"><br>Video</a></div>
          <div style="padding: 10px" class="col-md-4 col-sm-4 col-xs-4"><a href="#">&nbsp;&nbsp;<img
            src="../../assets/images/audio_icon.png"><br>Audio</a></div>
        </div>
        <div style="padding: 20px;text-align: justify" class="row">
          {{$ctrl.description}}
          <a ng-click="$ctrl.showMore()">Know More..</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div style="padding: 10px" class="col-md-12 text-center "><h5 style="font-size: 18px" class="sctn_heading">
            Information</h5></div>
        </div>
        <div class="row">
          <div class="col-md-12">
            Timing
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 col-md-offset-2">
            <div class="col-md-6">Weekdays</div>
            <div class="col-md-6">{{$ctrl.poiInfo.open}} To {{$ctrl.poiInfo.close}}</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 col-md-offset-2">
            <div class="col-md-6">Weekends</div>
            <div class="col-md-6">{{$ctrl.poiInfo.open}} To {{$ctrl.poiInfo.close}}</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            Location
          </div>
          <div class="col-md-4 col-md-offset-1">
            {{$ctrl.poiInfo.location}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            Tickets
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 col-md-offset-2">
            <div class="col-md-6">Indian</div>
            <div class="col-md-6">Rs. {{$ctrl.poiInfo.indian_fee}}/ per Person</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 col-md-offset-2">
            <div class="col-md-6">Foreigners</div>
            <div class="col-md-6">Rs. {{$ctrl.poiInfo.foreigner_fee}}/ per Person</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 col-md-offset-2">
            <div class="col-md-6">Students</div>
            <div class="col-md-6">Discount {{$ctrl.poiInfo.student_discount}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="TA_linkingWidgetRedesign681" class="TA_linkingWidgetRedesign">
      <ul id="LMtxTmynheBZ" class="TA_links ZMcYYj">
        <li id="uT2uxukO18H" class="ftC9RYKHlIMY">
          <a target="_blank" href="https://www.tripadvisor.com/"><img
            src="https://www.tripadvisor.com/img/cdsi/partner/tripadvisor_logo_115x18-15079-2.gif"
            alt="TripAdvisor"/></a>
        </li>
      </ul>
    </div>
    <script
      src="https://www.jscache.com/wejs?wtype=linkingWidgetRedesign&amp;uniq=681&amp;locationId=1096234&amp;lang=en_US&amp;border=true&amp;display_version=2"></script>

  </div>
  <div class="row">
    <section class="best_select">
      <div style="width: 100%;height: 40px;position: relative;top:90px;right: 10px;z-index: 99999">
        <div class="row">
          <div class="col-md-6 col-md-offset-6">
            <div class="col-md-3 col-xs-3">
              <a class="btn1" ng-click="$ctrl.findplace('parking')">Parking</a>
            </div>
            <div class="col-md-3 col-xs-3">
              <a class="btn1" ng-click="$ctrl.findplace('ATM')">ATM</a>
            </div>
            <div class="col-md-3 col-xs-3">
              <a class="btn1" ng-click="$ctrl.findplace('guide')">Guide</a>
            </div>
            <div class="col-md-3 col-xs-3">
              <a class="btn1" ng-click="$ctrl.findplace('ticket')">Ticket</a>
            </div>
          </div>
        </div>
      </div>
      <div id="map" style="height: 350px" class="events">
      </div>
    </section>
  </div>
  <div class="row">
    <section class="best_select">
      <div class="nearby">
        <div class="container">
          <h4 class="sctn_heading">Nearby Activity</h4>
          <div class="row caro-slider">

            <div id="jssor_1"
                 style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 809px; height: 150px; overflow: hidden; visibility: hidden;" flexcaroslider>
              <!-- Loading Screen -->
              <div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
                <div
                  style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
                <div
                  style="position:absolute;display:block;background:url('assets/images/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
              </div>
              <div data-u="slides"
                   style="cursor: default; position: relative; top: 0px; left: 0px; width: 809px; height: 150px; overflow: hidden;">

                <div>
                  <div class="nearby_item">
                    <img src="assets/images/ajmer.jpg">
                    <div class="nearby_item_name">
                      <a href="javascript:;">Sheesh Mahal</a>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="nearby_item">
                    <img src="assets/images/sambhar.jpg">
                    <div class="nearby_item_name">
                      <a href="javascript:;">Jaighar fort</a>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="nearby_item">
                    <img src="assets/images/pushkar.jpg">
                    <div class="nearby_item_name">
                      <a href="javascript:;">Anokhi Museum</a>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="nearby_item">
                    <img src="assets/images/sambhar.jpg">
                    <div class="nearby_item_name">
                      <a href="javascript:;">Elephant Joy</a>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="nearby_item">
                    <img src="assets/images/mandawa.jpg">
                    <div class="nearby_item_name">
                      <a href="javascript:;">Jaighar fort</a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Bullet Navigator -->
              <!--<div data-u="navigator" class="jssorb03" style="bottom:10px;right:10px;">-->
              <!--&lt;!&ndash; bullet navigator item prototype &ndash;&gt;-->
              <!--<div data-u="prototype" style="width:21px;height:21px;">-->
              <!--<div data-u="numbertemplate"></div>-->
              <!--</div>-->
              <!--</div>-->
              <!-- Arrow Navigator -->
              <span data-u="arrowleft" class="jssora03l" style="top:0px;left:8px;width:55px;height:55px;"
                    data-autocenter="2"></span>
              <span data-u="arrowright" class="jssora03r"
                    style="top:0px;right:8px;width:55px;height:55px;" data-autocenter="2"></span>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="row">
    <section class="best_select">
      <div class="nearby">
        <div class="container">
          <h4 class="sctn_heading">People also visited</h4>
          <div class="row caro-slider">

            <div id="jssor_2"
                 style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 809px; height: 150px; overflow: hidden; visibility: hidden;" flexcaroslider>
              <!-- Loading Screen -->
              <div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
                <div
                  style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
                <div
                  style="position:absolute;display:block;background:url('assets/images/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
              </div>
              <div data-u="slides"
                   style="cursor: default; position: relative; top: 0px; left: 0px; width: 809px; height: 150px; overflow: hidden;">
                <a data-u="any" href="http://www.jssor.com" style="display:none">Carousel</a>
                <div>
                  <div class="nearby_item">
                    <img src="assets/images/ajmer.jpg">
                    <div class="nearby_item_name">
                      <a href="javascript:;">City Place</a>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="nearby_item">
                    <img src="assets/images/sambhar.jpg">
                    <div class="nearby_item_name">
                      <a href="javascript:;">Hawa Mahal</a>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="nearby_item">
                    <img src="assets/images/pushkar.jpg">
                    <div class="nearby_item_name">
                      <a href="javascript:;">Birla Mandir</a>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="nearby_item">
                    <img src="assets/images/sambhar.jpg">
                    <div class="nearby_item_name">
                      <a href="javascript:;">Albret Hall</a>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="nearby_item">
                    <img src="assets/images/mandawa.jpg">
                    <div class="nearby_item_name">
                      <a href="javascript:;">Hawa Mahal</a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Bullet Navigator -->
              <!--<div data-u="navigator" class="jssorb03" style="bottom:10px;right:10px;">-->
              <!--&lt;!&ndash; bullet navigator item prototype &ndash;&gt;-->
              <!--<div data-u="prototype" style="width:21px;height:21px;">-->
              <!--<div data-u="numbertemplate"></div>-->
              <!--</div>-->
              <!--</div>-->
              <!-- Arrow Navigator -->
              <span data-u="arrowleft" class="jssora03l" style="top:0px;left:8px;width:55px;height:55px;"
                    data-autocenter="2"></span>
              <span data-u="arrowright" class="jssora03r"
                    style="top:0px;right:8px;width:55px;height:55px;" data-autocenter="2"></span>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

</div>


