<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 mapheader">

        </div>
      </div>
      <div id="map" class="row itinerarymap">

      </div>
      <div class="row mapfooter">
        <div>


        </div>
      </div>
    </div>
    <div class="col-md-5 col-lg-5 col-sm-12 col-xs-12 ">
      <div style="padding-top:14px;padding-bottom: 14px;background-color:lightsteelblue" class="row">
        <div class="col-md-12">
          <div style="padding-top: 8px;" class="col-md-3 col-sm-3 col-xs-3">
            <a class="btnday">DAY-{{day}}</a>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-3">
            <a href="#"> <img src="../../assets/images/save_iti.png"></a>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-3">
            <a href="#"> <img src="../../assets/images/edit_iti.png"></a>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-3">
            <a href="#"> <img src="../../assets/images/help_iti.png"></a>
          </div>
        </div>
      </div>

      <div style="padding-bottom: 10px;padding-top: 10px" class="row">
        <div class="col-md-1 col-lg-1 col-xs-1 col-sm-1"></div>
        <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4">EXIT TIME</div>
        <div class="col-md-5 col-lg-5 col-xs-5 col-sm-4">PLACES OF INTEREST</div>
        <div class="col-md-2 col-lg-2 col-xs-1 col-sm-1"><a style="font-size: 7px;color: red" href="#"> +Personal
          Time</a></div>
      </div>
      <div style="min-height: 437px;" class="row">
        <div class="col-md-1 col-lg-1 col-xs-1 col-sm-1">

          <div class="lastButton">
            <a href="#" ng-click="$ctrl.previousDay()"><img src="../../assets/images/arrow_blue_left.png"></a>
          </div>

        </div>
        <div class="col-md-10 col-lg-10 col-xs-10 col-sm-10">

          <div class="itineraryItems" id="style-6">


            <div ng-repeat="poi in $ctrl.itinerary" style="padding: 0px" class="row">
              <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4 poiitem">{{poi.time}}</div>
              <div class="col-md-8 col-lg-8 col-xs-8 col-sm-8 text-center">
                <div style="background-image: url('assets/images/poiitembg.png');background-repeat: no-repeat" class="row">
                  <img class="poiitemimg" src="../../assets/images/aamer_fort.jpg">
                </div>
                <div class="itineraryItemName"><a class="linkcolor" href="#">{{poi.placename}}</a></div>
              </div>
            </div>

          </div>

        </div>

        <div class="col-md-1 col-lg-1 col-xs-1 col-sm-1">
          <div class="nextButton">
            <a href="#" ng-click="$ctrl.nextDay()"><img src="../../assets/images/arrow_blue_right.png"></a>
          </div>
        </div>
      </div>

      <div class="row text-center">
        <div class="col-md-7">
          <a class="startButton" href="#">START 06:00 PM</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12 poicontainer">
      <div class="row">
        <div class="tab_sctn">
          <ul class="nav nav-tabs best_tabs paln">
            <li class="active palntab"><a class="tabtext" href="#stay" data-toggle="tab">Explore</a></li>
            <li class="palntab"><a class="tabtext" href="#packages" data-toggle="tab">Shows</a></li>
            <li class="palntab"><a class="tabtext" href="#activities" data-toggle="tab">Dine </a></li>
            <li class="palntab"><a class="tabtext" href="#activities" data-toggle="tab">Guide </a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="poiitems" id="style-7">

          <div ng-repeat="poi in $ctrl.pois" style="margin-top: 10px" class="row">
            <div class="col-md-8 col-lg-8 col-xs-12 col-sm-12 col-md-offset-2 text-center">
              <div class="row">
                <img class="poiimg" src="../../assets/images/{{poi.image}}">
                <div class="poiItemName ">
                  <div class="col-md-12"> <a class="linkcolor" href="#">{{poi.name}}</a></div>
                </div>
                <div class="addbutton"><a ng-click="$ctrl.addButton(poi)"><img style="height: 35px" src="../../assets/images/plus.png"></a></div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="row">
      <section class="best_select">
        <div class="">
          <div class="container">
            <h5 class="">Latest Coupons</h5>
            <div class="row caro-slider">
              <div id="jssor_1"
                   style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 809px; height: 150px; overflow: hidden; visibility: hidden;" flexcaroslider>
                <!-- Loading Screen -->
                <div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
                  <div
                    style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
                  <div
                    style="position:absolute;display:block;background:url('assets/images/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
                </div>
                <div data-u="slides"
                     style="cursor: default; position: relative; top: 0px; left: 0px; width: 809px; height: 150px; overflow: hidden;">

                  <div>
                    <div class="nearby_item">
                      <img src="assets/images/coupons/coupon1.jpg">

                    </div>
                  </div>
                  <div>
                    <div class="nearby_item">
                      <img src="assets/images/coupons/coupon2.jpg">
                    </div>
                  </div>
                  <div>
                    <div class="nearby_item">
                      <img src="assets/images/coupons/coupon3.jpg">
                    </div>
                  </div>
                  <div>
                    <div class="nearby_item">
                      <img src="assets/images/coupons/coupon4.jpg">

                    </div>
                  </div>
                  <div>
                    <div class="nearby_item">
                      <img src="assets/images/coupons/coupon5.jpg">

                    </div>
                  </div>
                </div>
                <!-- Bullet Navigator -->
                <!--<div data-u="navigator" class="jssorb03" style="bottom:10px;right:10px;">-->
                <!--&lt;!&ndash; bullet navigator item prototype &ndash;&gt;-->
                <!--<div data-u="prototype" style="width:21px;height:21px;">-->
                <!--<div data-u="numbertemplate"></div>-->
                <!--</div>-->
                <!--</div>-->
                <!-- Arrow Navigator -->
                <span data-u="arrowleft" class="jssora03l" style="top:0px;left:8px;width:55px;height:55px;"
                      data-autocenter="2"></span>
                <span data-u="arrowright" class="jssora03r"
                      style="top:0px;right:8px;width:55px;height:55px;" data-autocenter="2"></span>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div class="row">
      <section class="best_select">
        <div class="nearby">
          <div class="container">
            <h5 class="">Triptoli created Itineraries</h5>
            <div class="row caro-slider">

              <div id="jssor_2"
                   style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 809px; height: 150px; overflow: hidden; visibility: hidden;" flexcaroslider>
                <!-- Loading Screen -->
                <div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
                  <div
                    style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
                  <div
                    style="position:absolute;display:block;background:url('assets/images/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
                </div>
                <div data-u="slides"
                     style="cursor: default; position: relative; top: 0px; left: 0px; width: 809px; height: 150px; overflow: hidden;">
                  <a data-u="any" href="http://www.jssor.com" style="display:none">Carousel</a>
                  <div>
                    <div class="nearby_item">
                      <img src="assets/images/ajmer.jpg">
                      <div class="nearby_item_name">
                        <a href="javascript:;">City Place</a>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="nearby_item">
                      <img src="assets/images/sambhar.jpg">
                      <div class="nearby_item_name">
                        <a href="javascript:;">Hawa Mahal</a>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="nearby_item">
                      <img src="assets/images/pushkar.jpg">
                      <div class="nearby_item_name">
                        <a href="javascript:;">Birla Mandir</a>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="nearby_item">
                      <img src="assets/images/sambhar.jpg">
                      <div class="nearby_item_name">
                        <a href="javascript:;">Albret Hall</a>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="nearby_item">
                      <img src="assets/images/mandawa.jpg">
                      <div class="nearby_item_name">
                        <a href="javascript:;">Hawa Mahal</a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Bullet Navigator -->
                <!--<div data-u="navigator" class="jssorb03" style="bottom:10px;right:10px;">-->
                <!--&lt;!&ndash; bullet navigator item prototype &ndash;&gt;-->
                <!--<div data-u="prototype" style="width:21px;height:21px;">-->
                <!--<div data-u="numbertemplate"></div>-->
                <!--</div>-->
                <!--</div>-->
                <!-- Arrow Navigator -->
                <span data-u="arrowleft" class="jssora03l" style="top:0px;left:8px;width:55px;height:55px;"
                      data-autocenter="2"></span>
                <span data-u="arrowright" class="jssora03r"
                      style="top:0px;right:8px;width:55px;height:55px;" data-autocenter="2"></span>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

  </div>


