<div class="col-md-12 padding_no">
  <div class="main_banner">
    <div class="social_icon">
      <a href="javascript:;" class="btn btn_social facebook_ico"><span class="ico-facebook"></span></a>
      <a href="javascript:;" class="btn btn_social twitter_ico"><span class="ico-twitter"></span></a>
      <a href="javascript:;" class="btn btn_social google_ico"><span class="ico-google-plus"></span></a>
      <a href="javascript:;" class="btn btn_social linkedin_ico"><span class="ico-linkedin2"></span></a>
    </div>

    <!--<div class="logo">-->
    <!--<img src="assets/images/logo.png">-->
    <!--<h4 class="logo_tagline">-->
    <!--<strong>Simple works.</strong> So maybe we should stay that way.-->
    <!--</h4>-->
    <!--</div>-->

    <!-- carousel main -->
    <flex-slider flex-slide="s in mySlides track by $index">
      <li>
        <img ng-src='../../assets/images/banner/{{s.image}}'>
      </li>

    </flex-slider>


  </div>

  <!-- search box -->
  <div class="search_box">
    <form class="search_form">
      <div class="search_input">
        <input type="text" class="form-control" placeholder="City/Address">
      </div>
      <div class="date_input">
        <div class="input-group">
          <input type="text" class="form-control date_from" placeholder="From">
          <span class="input-group-addon"><img src="assets/images/cal_icon.png"></span>
        </div>
      </div>
      <div class="date_input date_lst">
        <div class="input-group">
          <input type="text" class="form-control date_to" placeholder="To">
          <span class="input-group-addon"><img src="assets/images/cal_icon.png"></span>
        </div>
      </div>

      <div class="search_button">
        <button type="button" class="btn btn-search"><span class="ico-search8"></span></button>
      </div>
    </form>
  </div>
  <!--end search box -->
</div>

<div class="clear"></div>
<div class="add-itinerary" data-spy="affix" data-offset-top="653">
  <img src="assets/images/addItinerary.png">

  <div class="create-itinerary-btn">
    <a href="/itinerary-plan" class="cart-itineray">
      <i class="ico-shopping-cart2"></i>
      <span>{{cart}}</span>
    </a>
    <ul>
      <li><a href="#">Create</a></li>
      <li><a href="#">Itinerary</a></li>
    </ul>
  </div>
</div>
<!--<div class="full_body_image"></div>-->

<!-- select from the best -->
<div class="container">
  <section class="best_select">
    <h4 class="sctn_heading">
      <div>Select</div>
      from the best
    </h4>

    <div class="sctn_tagline">
      <hr class="sctn_hr">
      <i>“One’s destination is never a place, but a new way of seeing things.” – Henry Miller</i><br>

      Let us help you explore your destination like never before. We want your trip to be hassle-free by providing you
      with handpicked offerings all at one place – best price and quality guaranteed!
      <hr class="sctn_hr">
    </div>

    <div class="tab_sctn">
      <ul class="nav nav-tabs best_tabs">
        <!--<li><a href="#stay" data-toggle="tab">Stay</a></li>-->
        <li class="active"><a href="#explore" data-toggle="tab">Explore</a></li>
        <li><a href="#guide" data-toggle="tab">Guide </a></li>
        <li><a href="#cab" data-toggle="tab">Cab</a></li>
        <li><a href="#shop" data-toggle="tab">Shop</a></li>
        <li><a href="#dine" data-toggle="tab">Dine</a></li>
      </ul>

      <div class="tab-content sctn_tab_content">
        <div id="explore" class="tab-pane fade in active">
          <div class="row">
            <div class="col-sm-4">
              <div class="single_item">
                <div class="porto_galla">
                  <flex-slider flex-slide="poi in poiByCity track by $index">
                    <li>
                      <a href="assets/images/aamer_fort.jpg" class="feature_inner_ling">
                        <img src="assets/images/aamer_fort.jpg" alt="Post Title">
                        <div class="item_detail">
                          <h5 class="item_heading">{{poi.Poi.name}}</h5>
                          <p class="package">23KM/ 30 Minutes</p>
                          <p class="item_desc">There are many variations of passages of Lorem
                            Ipsum available, but the majority have.</p>
                          <a href="/explore/{{poi.Poi.id}}" class="btn know_more">Know More</a>
                          <a ng-click="$ctrl.addButton(poi.Poi)" class="btn add_itinerary">Add to itinerary
                          </a>
                        </div>
                      </a>
                    </li>

                  </flex-slider>
                </div>
              </div>
            </div>

            <div class="col-sm-8">
              <div class="row">
                <div class="col-sm-5">
                  <div class="multiple_item small_item">
                    <div class="porto_galla">

                      <flex-slider flex-slide="poi in poiByCity track by $index">
                        <li>
                          <a href="assets/images/hawa_mahal.jpg" class="feature_inner_ling">
                            <img src="assets/images/hawa_mahal.jpg" alt="Post Title">
                            <div class="item_detail">
                              <h5 class="item_heading">{{poi.Poi.name}}</h5>
                              <p class="package">5KM/ 10 Minutes</p>
                              <p class="item_desc">There are many variations of passages
                                of Lorem Ipsum available, but the majority have.</p>
                              <a href="/explore/{{poi.Poi.id}}" class="btn know_more">Know More
                              </a>
                              <a ng-click="$ctrl.addButton(poi.Poi)" class="btn add_itinerary">Add to
                                itinerary
                              </a>
                            </div>
                          </a>
                        </li>
                      </flex-slider>
                    </div>
                  </div>
                </div>
                <div class="col-sm-7">
                  <div class="multiple_item big_item">
                    <div class="porto_galla">
                      <flex-slider flex-slide="poi in poiByCity track by $index">
                        <li>
                          <a href="assets/images/city_palace.jpg" class="feature_inner_ling">
                            <img src="assets/images/city_palace.jpg" alt="Post Title">
                            <div class="item_detail">
                              <h5 class="item_heading">{{poi.Poi.name}}</h5>
                              <p class="package">9KM/ 15 Minutes</p>
                              <p class="item_desc">There are many variations of passages
                                of Lorem Ipsum available, but the majority have.</p>
                              <a href="/explore/{{poi.Poi.id}}" class="btn know_more">Know More
                              </a>
                              <a ng-click="$ctrl.addButton(poi.Poi)" class="btn add_itinerary">Add to
                                itinerary
                              </a>
                            </div>
                          </a>
                        </li>
                      </flex-slider>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row item_row">
                <div class="col-sm-7">
                  <div class="multiple_item big_item">
                    <div class="porto_galla">

                      <flex-slider flex-slide="poi in poiByCity track by $index">
                        <li>
                          <a href="assets/images/jantar_mantar.jpg" class="feature_inner_ling">
                            <img src="assets/images/jantar_mantar.jpg" alt="Post Title">
                            <div class="item_detail">
                              <h5 class="item_heading">{{poi.Poi.name}}</h5>
                              <p class="package">11KM/ 20 Minutes</p>
                              <p class="item_desc">There are many variations of passages
                                of Lorem Ipsum available, but the majority have.</p>
                              <a href="/explore/{{poi.Poi.id}}" class="btn know_more">Know More
                              </a>
                              <a ng-click="$ctrl.addButton(poi.Poi)" class="btn add_itinerary">Add to
                                itinerary
                              </a>
                            </div>
                          </a>
                        </li>
                      </flex-slider>


                    </div>
                  </div>
                </div>
                <div class="col-sm-5">
                  <div class="multiple_item small_item">
                    <div class="porto_galla">
                      <flex-slider flex-slide="poi in poiByCity track by $index">
                        <li>
                          <a href="assets/images/jantar_mantar.jpg" class="feature_inner_ling">
                            <img src="assets/images/birla_temple.jpg" alt="Post Title">
                            <div class="item_detail">
                              <h5 class="item_heading">{{poi.Poi.name}}</h5>
                              <p class="package">15KM/ 25 Minutes</p>
                              <p class="item_desc">There are many variations of passages
                                of Lorem Ipsum available, but the majority have.</p>
                              <a href="/explore/{{poi.Poi.id}}" class="btn know_more">Know More
                              </a>
                              <a ng-click="$ctrl.addButton(poi.Poi)" class="btn add_itinerary">Add to
                                itinerary
                              </a>
                            </div>
                          </a>
                        </li>
                      </flex-slider>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- end select from the best -->

<!-- wellness city events -->
<section class="best_select">
  <h4 class="sctn_heading">City Events</h4>
  <div id="map" class="events">

  </div>
</section>
<!-- end wellness city events -->
<div class="clear"></div>
<!-- packages & activities -->
<div class="container">
  <section class="best_select">
    <h4 class="sctn_heading">Packages & Activities</h4>

    <div class="tab_sctn">
      <ul class="nav nav-tabs best_tabs package_tabs">
        <li><a href="#stay" data-toggle="tab">
          <div class="trip_text">TRIP</div>
          <div class="toli_text">toli</div>
          RECOMMENDS</a></li>
        <li class="active"><a href="#packages" data-toggle="tab">STANDARD PACKAGES</a></li>
        <li><a href="#activities" data-toggle="tab">SPECIAL ACTIVITIES </a></li>
      </ul>

      <div class="tab-content sctn_tab_content activities_pack">
        <div id="packages" class="tab-pane fade in active">
          <div class="row">
            <div class="col-sm-4">
              <div class="single_item">
                <div class="porto_galla">

                  <flex-slider flex-slide="s in mySlides">
                    <li>
                      <a href="assets/images/jaipur_tour.jpg" class="feature_inner_ling">
                        <img src="assets/images/jaipur_tour.jpg" alt="Post Title">
                        <div class="item_detail">
                          <h5 class="item_heading">2N/3D Jaipur Tours</h5>
                          <p class="item_desc desc_tour">There are many variations of passages
                            of Lorem Ipsum available, but the majority have.</p>
                          <a href="/explore/{{poi.Poi.id}}" class="btn know_more">Know More</a>
                          <button type="button" class="btn add_itinerary">Add to itinerary
                          </button>
                        </div>
                      </a>
                    </li>
                  </flex-slider>
                </div>
              </div>
            </div>

            <div class="col-sm-8">
              <div class="row">
                <div class="col-sm-5">
                  <div class="multiple_item small_item">
                    <div class="porto_galla">

                      <flex-slider flex-slide="s in mySlides">
                        <li>
                          <a href="assets/images/royal_tour.jpg" class="feature_inner_ling">
                            <img src="assets/images/royal_tour.jpg" alt="Post Title">
                            <div class="item_detail">
                              <h5 class="item_heading">4N/5D Royal Tours 1</h5>
                              <p class="item_desc desc_tour">There are many variations of
                                passages of Lorem Ipsum available, but the majority
                                have.</p>
                              <a href="/explore/{{poi.Poi.id}}" class="btn know_more">Know More
                              </a>
                              <button type="button" class="btn add_itinerary">Add to
                                itinerary
                              </button>
                            </div>
                          </a>
                        </li>
                      </flex-slider>

                    </div>
                  </div>
                </div>
                <div class="col-sm-7">
                  <div class="multiple_item big_item">
                    <div class="porto_galla">

                      <flex-slider flex-slide="s in mySlides">
                        <li>
                          <a href="assets/images/heritage_tour.jpg" class="feature_inner_ling">
                            <img src="assets/images/heritage_tour.jpg" alt="Post Title">
                            <div class="item_detail">
                              <h5 class="item_heading">2N/3D Heritage Tours 1</h5>
                              <p class="item_desc desc_tour">There are many variations of
                                passages of Lorem Ipsum available, but the majority
                                have.</p>
                              <a class="btn know_more">Know More
                              </a>
                              <button type="button" class="btn add_itinerary">Add to
                                itinerary
                              </button>
                            </div>
                          </a>
                        </li>
                      </flex-slider>

                    </div>
                  </div>
                </div>
              </div>

              <div class="row item_row">
                <div class="col-sm-7">
                  <div class="multiple_item big_item">
                    <div class="porto_galla">

                      <flex-slider flex-slide="s in mySlides">
                        <li>
                          <a href="assets/images/royal_heritage.jpg" class="feature_inner_ling">
                            <img src="assets/images/royal_heritage.jpg" alt="Post Title">
                            <div class="item_detail">
                              <h5 class="item_heading">Royal Heritage Tour 1</h5>
                              <p class="item_desc desc_tour">There are many variations of
                                passages of Lorem Ipsum available, but the majority
                                have.</p>
                              <a href="/explore" class="btn know_more">Know More
                              </a>
                              <button type="button" class="btn add_itinerary">Add to
                                itinerary
                              </button>
                            </div>
                          </a>
                        </li>
                      </flex-slider>

                    </div>
                  </div>
                </div>
                <div class="col-sm-5">
                  <div class="multiple_item small_item">
                    <div class="porto_galla">

                      <flex-slider flex-slide="s in mySlides">
                        <li>
                          <a href="assets/images/golden_tour.jpg" class="feature_inner_ling">
                            <img src="assets/images/golden_tour.jpg" alt="Post Title">
                            <div class="item_detail">
                              <h5 class="item_heading">Golden Triangle Tour 1</h5>
                              <p class="item_desc desc_tour">There are many variations of
                                passages of Lorem Ipsum available, but the majority
                                have.</p>
                              <a href="/explore" class="btn know_more">Know More
                              </a>
                              <button type="button" class="btn add_itinerary">Add to
                                itinerary
                              </button>
                            </div>
                          </a>
                        </li>
                      </flex-slider>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- end packages & activities -->


<!-- nearby place -->
<section class="best_select">
  <div class="nearby">
    <div class="container">
      <h4 class="sctn_heading">Nearby Place</h4>
      <div class="row caro-slider">

        <div id="jssor_1"
             style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 809px; height: 150px; overflow: hidden; visibility: hidden;"
             flexcaroslider>
          <!-- Loading Screen -->
          <div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
            <div
              style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
            <div
              style="position:absolute;display:block;background:url('assets/images/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
          </div>
          <div data-u="slides"
               style="cursor: default; position: relative; top: 0px; left: 0px; width: 809px; height: 150px; overflow: hidden;">
            <a data-u="any" href="http://www.jssor.com" style="display:none">Carousel</a>
            <div>
              <div class="nearby_item">
                <img src="assets/images/ajmer.jpg">
                <div class="nearby_item_name">
                  <a href="javascript:;">Ajmer</a>
                </div>
              </div>
            </div>
            <div>
              <div class="nearby_item">
                <img src="assets/images/sambhar.jpg">
                <div class="nearby_item_name">
                  <a href="javascript:;">Sambhar</a>
                </div>
              </div>
            </div>
            <div>
              <div class="nearby_item">
                <img src="assets/images/pushkar.jpg">
                <div class="nearby_item_name">
                  <a href="javascript:;">Pushkar</a>
                </div>
              </div>
            </div>
            <div>
              <div class="nearby_item">
                <img src="assets/images/sambhar.jpg">
                <div class="nearby_item_name">
                  <a href="javascript:;">Sambhar</a>
                </div>
              </div>
            </div>
            <div>
              <div class="nearby_item">
                <img src="assets/images/mandawa.jpg">
                <div class="nearby_item_name">
                  <a href="javascript:;">Mandawa</a>
                </div>
              </div>
            </div>
          </div>
          <!-- Bullet Navigator -->
          <!--<div data-u="navigator" class="jssorb03" style="bottom:10px;right:10px;">-->
          <!--&lt;!&ndash; bullet navigator item prototype &ndash;&gt;-->
          <!--<div data-u="prototype" style="width:21px;height:21px;">-->
          <!--<div data-u="numbertemplate"></div>-->
          <!--</div>-->
          <!--</div>-->
          <!-- Arrow Navigator -->
          <span data-u="arrowleft" class="jssora03l" style="top:0px;left:8px;width:55px;height:55px;"
                data-autocenter="2"></span>
          <span data-u="arrowright" class="jssora03r"
                style="top:0px;right:8px;width:55px;height:55px;" data-autocenter="2"></span>
        </div>
      </div>
    </div>
  </div>
</section>


