<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 asidebar" style="height: 725px">
      <div class="row" style="text-align: center;margin-top: 4%">

        <img src="../../assets/images/2.jpg" class="img-circle myimg" width="160" height="160">
        <h3>{{name}}</h3>
      </div>
      <div class="list">
        <a href="#" class="list-group-item border ">Profile</a>
        <a href="#" class="list-group-item border">My Trips</a>
        <a href="#" class="list-group-item border">My Booking</a>
        <a href="#" class="list-group-item border">Setting</a>
      </div>
    </div>
    <div class="col-md-8 DivMargin">
      <div class="row" style="margin-top: 4%">
        <div ng-repeat="trip in trips track by $index" class="col-md-4 gImage">
          <h6><span>{{trip.itinerary_name}}</span></h6>
          <img src="../../assets/images/1212707-desktop-backgrounds-paris-1772x1184.jpg" class="img-responsive"
               style="height: 185px;width: 290px">

          <div class="row">
            <div class="col-xs-6">
              <div class="row">
                <div class="col-sm-4">
                  <img src="../../assets/images/calendar2.png" class="img-responsive" style="height: 20px;width: 20px">

                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">5 Days</div>
              </div>
            </div>
            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
              <a href="#" ng-click="$ctrl.deleteItinerary()">
              <img src="../../assets/images/free-27-128.png" class="img-responsive pull-right"
                   style="height: 20px;width: 20px">
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
